body{
    background-image: url("background_image.jpeg");
        color:#c2eaff;
    text-align: center;
}
.logo{
    border-radius: 45%;
    position: center;
    width: 200px;
    height: 200px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 8%;
}
@media(max-width:500px)
{
    body{
        height: 100%;
        background-image: url("background_image.jpeg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        text-align: center;
    }
    .logo{
        border-radius: 50%;
        position: center;
    width: 100px;
    height: 100px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 4%;
    }
    h1{
        color:#c2eaff;
        margin-bottom: 50px;
        margin-top: 25px;
    }
}
.Sign{ color: black;
     background-color: #f7c8f3;
     width: 30%;
     height: 30px;
     /*margin-left: 5%;
     margin-right: 25%;*/
     border-radius: 5px;
 }
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:#212740;
  opacity: 1; /* Firefox */}
